[submodule "packages/adhan_dart"]
	path = packages/adhan_dart
	url = https://github.com/MoathCodes/adhan_dart.git

[submodule "packages/dorar_hadith"]
	path = packages/dorar_hadith
	url = https://github.com/MoathCodes/dorar_hadith.git
